* {
  --icon-color: #fff;
  --background-color: #000;
}

body {
  height: 100vh;
  background: var(--background-color);
}

.icon {
  top: 50%;
  left: 50%;
  position: fixed;
  cursor: default;
  font-size: 200px;
  color: var(--icon-color);
  transform: translate(-50%, -50%) rotate(45deg) scale(0.3);
}
